.app-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.section-container {
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
}

.section-title {
    color: black;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 15px;
}
